version: "3.8"

services:
  pocketbase:
    image: pocketbase/pocketbase:latest
    container_name: pocketbase
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - /home/docker/pocketbase/pb_data:/pb_data
